/* // reset and variables // */

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local(''),
       url('../fonts/nunito-v16-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/nunito-v16-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: local(''),
       url('../fonts/nunito-v16-latin_cyrillic-italic.woff2') format('woff2'),
       url('../fonts/nunito-v16-latin_cyrillic-italic.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local(''),
       url('../fonts/nunito-v16-latin_cyrillic-800.woff2') format('woff2'),
       url('../fonts/nunito-v16-latin_cyrillic-800.woff') format('woff');
}

html,
body {
    position: relative;

    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    /* main color sheme */
    --sug-color: #31493c;
    --non-active-color: #31493c54;
    --active-color: #ffa500;
    --bg-color: #d4eff5;
    --bg-color-add: #d4eff554;
    --bg-color-add-non-transparent: #f1fafc;
    --text-color: #001A23;
    --suc-color: #00CC66;
    --dark-green: #329C00;
    --gentle-color: #a3ffd1;

    font-family: "Nunito", sans-serif;

    background: linear-gradient(to right, var(--bg-color) 0%, var(--bg-color-add-non-transparent) 20%, var(--bg-color-add-non-transparent) 80%, var(--bg-color) 100%);
    color: var(--text-color);

    /* // dark sheme // */
    /* background: var(--text-color); */
    /* color: var(--active-color); */
}

ul {
    padding: 0;
    list-style: square;
}

/* // golden type ratio // */

.grt {
	max-width: 680px;
	font-size: 20px;
	line-height: 33px;
	padding: 20px;
}
.grt h1 {
	font-size: 41px;
	line-height: 64px;
	margin-bottom: 33px;
}
.grt .title {
	font-size: 52px;
	line-height: 79px;
	margin-bottom: 33px;
}
.grt h2 {
	font-size: 32px;
	line-height: 51px;
	margin-top: 53px;
	margin-bottom: 20px;
}
.grt h3 {
	font-size: 25px;
	line-height: 41px;
	margin-top: 33px;
	margin-bottom: 12px;
}
.grt h4 {
	font-size: 20px;
	line-height: 33px;
	font-weight: bold;
	margin-bottom: 7px;
}
.grt p, .grt ul, .grt ol, .grt blockquote, .grt pre, .grt .alert, .grt .note, .grt .box, .grt .footnotes {
	margin-bottom: 33px;
}
.grt ul, .grt ol {
	margin-left: 33px;
}
.grt li {
	margin-bottom: 12px;
}
.grt blockquote {
	padding-left: 20px;
	border-style: solid;
	border-color: rgba(0,0,0,0.15);
	border-width: 0 0 0 7px;
}
.grt sub, .grt sup {
	padding: 0 1px;
}
.grt code, .grt pre, .grt kbd {
	font-size: 18px;
}
.grt code {
	background-color: rgba(0,0,0,0.08);
	padding: 3px 4px;
	border-radius: 7px;
	margin: 0 1px;
}
.grt pre {
	padding: 12px;
	border-style: solid;
	border-color: rgba(0,0,0,0.15);
	border-width: 0 0 0 7px;
}
.grt kbd {
	background-color: #fff;
	padding: 3px 4px;
	border-radius: 4px;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.45);
	margin: 0 1px;
}
.grt .alert, .grt .note, .grt .box {
	padding: 20px;
}
.grt .footnotes {
	font-size: 16px;
	line-height: 28px;
	padding-top: 20px;
	border-top: 1px dotted rgba(0,0,0,0.15);
}
.grt .footnotes p {
	margin-bottom: 20px;
}
.grt ul ul, .grt ul ol, .grt ol ul, .grt ol ol, .grt blockquote.right p, .grt blockquote.left p, .grt .alert :last-child, .grt .note :last-child, .grt .box :last-child, .grt .footnotes :last-child {
	margin-bottom: 0;
}
@media all and (min-width: 746px) {
	.grt {
		padding: 33px;
	}
}

/* // article // */

*::selection {
    color: var(--active-color);
    background-color: var(--text-color);
}

.article__wrap {
    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 62px;
}

.article__date {
    text-align: right;
    font-style: italic;
}

.article__link {
    color: var(--text-color);
    transition: color .2s;
}

.article__link:hover,
.article__link:focus {
    color: var(--active-color);
}

.article__link::selection {
    color: var(--bg-color);
}

.article__hr {
    width: 40px;
    margin-left: 0;
}

.article__highl-1 {
    font-weight: normal;
    font-style: italic;
    opacity: .8;
    font-size: 90%;
}

.article__highl-2 {
    display: block;
}

.article__highlight_wrap {
    background-color: var(--gentle-color);
}

.article__heading-low {
    font-size: 100%;
}

.note .article__heading-low {
    margin-top: 0;

    font-size: 100%;
}

.note p {
    margin-top: 0;
}

p, ul {
    font-style: italic;
}

strong {
    font-style: normal;
}

/* // aside // */

.aside {
    position: absolute;

    top: 8px;
    right: 8px;
}

.aside__lang_btn {
    display: inline-block;
}

.aside__lang_btn {
    width: 56px;
    height: 36px;
    padding: 2px;
}

.aside__lang_icon {
    width: 100%;
    height: 100%;
}

.article__nav {
    position: absolute;

    top: 10px;
    left: 10px;

    font-size: 20px;
}

.article__nav-bottom {
    top: auto;
    left: auto;
    /* bottom: 68px; */
    bottom: 10px;
    right: 10px;
}

.aside__link {
    display: inline-block;

    font-weight: bold;
    font-size: 24px;
    color: var(--text-color);
}

.aside__logo_link {
    position: absolute;

    left: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
}

.aside__logo {
    width: 100%;
    height: 100%;
}

/* // blog // */

ul.blog__list {
    margin-left: 0;
    list-style: none;
}

.blog__link {
    display: block;
    box-sizing: border-box;

    padding: 1px 33px;

    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;

    background-color: var(--gentle-color);
    transition: background-color .4s;
}

.blog__link:hover {
    background-color: transparent;
}

.blog__show_more {
    display: block;

    padding: 5px 0;

    text-align: center;
    color: var(--text-color);
}

.blog__item {
    border: 2px solid var(--text-color);
}

.blog__list-reduced .blog__item-reduced {
    overflow: hidden;
    height: 0;
    margin: 0;
    border: none;
}

.blog__title_link {
    font-size: 20px;
    color: var(--text-color);
    transition: color .2s;
}

.blog__title_link:hover,
.blog__title_link:focus,
.blog__link:focus,
.blog__show_more:focus {
    color: var(--active-color)
}
