/* // general // */
body {
    --sidebar-width: 0px;
    --normal-fz: 18px;
    --bigger-fz: 20px;
}

.sidebar-open {
    --sidebar-width: 400px;
}

textarea {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.overlay__seo_heading {
    position: absolute;
    opacity: 0;
    top: -1000px;
    pointer-events: none;
}

/* // form // */

.form__btn {
    border: none;

    font-size: 100%;
    cursor: pointer;
}

.form__input {
    --bg-color-inp: var(--bg-color);

    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin: 15px 0 0;
    padding: 10px;
    width: 100%;
    border-radius: 0;
    border: 3px solid var(--bg-color-inp);
    border-left-width: 5px;
    border-right-width: 5px;
    background: var(--bg-color-inp);

    font-size: 100%;
    letter-spacing: 1px;

    transition: border-bottom-color .1s;
}

.form__input:focus {
    outline: none;
    border-bottom-color: var(--active-color);
    --bg-color-inp: var(--bg-color-add-non-transparent);
}

.form__input:-webkit-autofill {
    --bg-color-inp: var(--bg-color-add-non-transparent);
    box-shadow: 0 0 0 30px var(--bg-color-inp) inset !important;
}

.form__input-filled {
    --bg-color-inp: var(--bg-color-add-non-transparent);
}

.form__input-error {
    border-left: 5px solid var(--active-color);
    border-right: 5px solid var(--active-color);
}

.form__input-success {
    border-left: 5px solid var(--suc-color);
    border-right: 5px solid var(--suc-color);
}

.form__input-success:focus {
    border-bottom-color: var(--suc-color);
}

.form__label {
    position: relative;
    display: block;

    width: 100%;
    margin: 15px 0;

    font-weight: bold;
}

.form__captcha {
    margin: 30px 0 15px;
}

.form__grp {
    position: relative;
}

.form__label_help {
    position: absolute;

    right: 0;
    bottom: 0;

    font-size: 80%;
    font-weight: normal;
    color: var(--sug-color);
}

.form__error {
    position: absolute;

    right: 0;
    bottom: -20px;

    font-size: 80%;
    color: var(--sug-color);

    opacity: 0;
    transition: opacity .1s;
}

.form__error-show {
    opacity: 1;
}

.form__select {
    --bg-color-inp: var(--bg-color);

    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin: 15px 0 0;
    padding: 10px;
    width: 100%;
    border-radius: 0;
    border: 3px solid var(--bg-color-inp);
    border-left-width: 5px;
    border-right-width: 5px;
    background: var(--bg-color-inp);

    font-size: 100%;
    letter-spacing: 1px;
}

.onboarding__input {
    padding-left: 15px;
    padding-right: 15px;
}

.onboarding__btn {
    width: 100%;
    margin: 30px 0;
}

.reset__btn {
    width: 100%;
    margin-top: 20px;
}

/* // rating (quiz) // */

.rating {
    position: fixed;
    z-index: -1;

    top: 0;
    left: 0;
    width: calc(100% - var(--sidebar-width));
    bottom: 0;

    opacity: 0;
    background-color: rgba(0, 0, 0, .2);
    transition: opacity .5s;

    font-size: var(--normal-fz);
}

.rating-active {
    z-index: 2;
    opacity: 1;
}

.rating__wrap {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    height: 490px;

    background-color: var(--side-bg-color);
    border: 20px solid var(--bg-color);
    border-bottom-color: var(--bg-color-add);
    border-top-color: var(--bg-color-add);
}

.rating__popup {
    position: absolute;
    z-index: -2;

    top: 20px;
    left: 30px;
    right: 30px;
    bottom: 20px;

    opacity: 0;
    outline: 0;

    transition: opacity .5s;
}

.rating__popup-active {
    z-index: 2;
    opacity: 1;
}

.rating__progr_wrap {
    position: absolute;

    bottom: -20px;
    height: 20px;
    left: -20px;
    right: -20px;
}

.rating__progr {
    height: 100%;
    width: 0;

    background-color: var(--bg-color);
    transition: width .5s;
}

.rating__text {
    line-height: 1.39;
}

.rating__text-small {
    margin: 8px 0 0;

    text-align: center;
    font-size: 70%;
}

.rating__text-abs {
    position: absolute;

    bottom: 15%;
    margin: 0;
    width: 100%;
}

.rating__text-italic {
    font-style: italic;
}

.rating__link,
.rate__comments {
    color: var(--text-color);
}

.rating__title {
    width: 100%;
    margin: 25px 0 0;

    font-size: 100%;
    color: var(--sug-color);
}

.rating__stars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rating__caption {
    opacity: 0;
    align-self: flex-end;

    font-size: 14px;
    font-style: italic;
    transition: opacity .2s;
}

.rating__text-highlight {
    text-decoration: underline;
    font-weight: normal;
}

.rating__textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 1em;
    padding: 10px;

    box-sizing: border-box;
}

.rating__close {
    position: absolute;
    z-index: 2;

    top: 10px;
    right: 10px;

    font-weight: bold;
    text-decoration: none;
}

.rating__content {
    height: 380px;
}

.rating__img_wrap {
    height: 180px;

    overflow: hidden;
}

.rating__status {
    position: relative;
    display: flex;
    height: 90px;

    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity .5s;
}

.rating__status-progress,
.rating__status-rated,
.rating__status-limit,
.rating__status-logout,
.rating__status-more,
.rating__status-error {
    opacity: 1;
}

.rating__status_text {
    display: flex;
    white-space: nowrap;

    font-style: italic;
}

.rating__status_anim {
    display: inline-block;
    overflow: hidden;
}

.rating__status-progress .rating__status_anim {
    animation: dots ease infinite 2s;
}

.rating__status_text-err,
.rating__status_text-more,
.rating__status_text-rated,
.rating__status_text-limit,
.rating__status_text-logout {
    display: none;
}

.rating__status-limit .rating__status_text,
.rating__status-logout .rating__status_text,
.rating__status-rated .rating__status_text,
.rating__status-error .rating__status_text,
.rating__status-more .rating__status_text {
    display: none;
}

.rating__status-rated .rating__status_text-rated,
.rating__status-limit .rating__status_text-limit,
.rating__status-logout .rating__status_text-logout,
.rating__status-error .rating__status_text-err,
.rating__status-more .rating__status_text-more {
    display: block;
}

.rating__login {
    margin-top: 10px;

    text-align: center;
}

.rating__count_wrap {
    position: relative;
}

.rating__count {
    position: absolute;

    top: 0;
    left: 0;
}

@keyframes dots {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* // rate // */

.rate__wrap {
    width: 630px;
    height: auto;

    font-size: var(--bigger-fz);
}

.rate .star {
    padding: 0px 3px;

    pointer-events: none;
    font-size: 22px;
}

.rate .star-wrapper {
    margin: 10px 0;
}

.rating__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.rating__item {
    display: flex;

    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    margin: 0;
    padding: 0;
}

.rating__item-hide {
    display: none;
}

.rating__item_text {
    margin: 0;
    font-weight: normal;
}

.rate__container {
    display: flex;

    padding: 0 30px;

    align-items: center;
    justify-content: space-between;

    font-size: var(--normal-fz);
}

.rate__highlight {
    font-weight: bold;
    font-size: 24px;
    color: var(--sug-color);
}

.rate__popup {
    position: relative;

    right: auto;
    bottom: auto;
    left: auto;
    top: auto;
    padding: 20px 30px 30px;
}

.rate__link_btn {
    display: block;

    padding: 5px 0;

    color: var(--text-color);
    text-align: right;
    font-size: var(--normal-fz);
}

.rate__link_btn-copied {
    display: none;
}

.rate__link_btn-success .rate__link_btn-copied {
    display: block;
}

.rate__link_btn-success .rate__link_btn-copy {
    display: none;
}

.rate__evaluate {
    display: block;

    margin: 20px 30px;
    padding: 10px;

    text-align: center;
}

.rate__caption {
    margin: 10px 0 -20px;

    font-style: italic;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}

/* // close // */

.close {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.close::before,
.close::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 3px;
    top: 50%;
    left: 50%;
    /* border-radius: 5px 0; */
    border-radius: 100%;
    transform: translate(-50%, -50%);

    background-color: var(--sug-color);
    /* opacity: .7; */
    transition: background-color .2s;
}

.close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* // login // */

.login__wrap {
    height: 530px;
}

.login__wrap-check {
    height: 320px;
}

.login__wrap-register {
    height: 610px;
}

.login__wrap-forgot {
    height: 400px;
}

.login__wrap-onboarding {
    height: 660px;
}

.login__wrap-reset {
    height: 480px;
}

.login__content {
    position: relative;

    height: 390px;
}

.login__content-check {
    height: 190px;
}

.login__recover {
    display: block;

    width: 100%;
    margin-top: 20px;

    box-sizing: border-box;
    text-align: center;
}

.login__spinner {
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    height: 120px;
}

.login__notifications_wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    height: 120px;
}

.login__notifications {
    display: none;

    font-style: italic;
    font-weight: bold;
    color: var(--sug-color);
}

.login__notifications-small {
    display: block;

    margin-top: 10px;

    text-align: center;
}

.login__reverify {
    color: var(--text-color);
    transition: color .1s;
}

.login__notifications_wrap-already_verified .login__notifications-already_verified,
.login__notifications_wrap-email_not_exist .login__notifications-email_not_exist,
.login__notifications_wrap-wrong_pass .login__notifications-wrong_pass,
.login__notifications_wrap-timeout .login__notifications-timeout,
.login__notifications_wrap-verify .login__notifications-verify,
.login__notifications_wrap-fill .login__notifications-fill,
.login__notifications_wrap-err .login__notifications-err {
    display: block;
}

.login__popup {
    transition: opacity .1s;
}

.login__link {
    display: block;

    width: 230px;
    margin: 10px auto;
    padding: 5px;

    color: var(--text-color);
    text-align: center;

    transition: color .1s;
}

/* // register // */

.register__content {
    position: relative;

    height: 500px;
}

.register__spinner {
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    height: 120px;
}

.register__notifications_wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    height: 120px;
}

.register__notifications {
    display: none;

    font-style: italic;
    font-weight: bold;
    color: var(--sug-color);
}

.register__notifications_wrap-email_exists .register__notifications-email_exists,
.register__notifications_wrap-timeout .register__notifications-timeout,
.register__notifications_wrap-fill .register__notifications-fill,
.register__notifications_wrap-err .register__notifications-err {
    display: block;
}

/* // forgot password // */

.forgot__content {
    position: relative;

    height: 290px;
}

.reset__notifications_wrap,
.forgot__notifications_wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    height: 120px;
}

.reset__notifications,
.forgot__notifications {
    display: none;

    font-style: italic;
    font-weight: bold;
    color: var(--sug-color);
}

.forgot__notifications_wrap-email_not_exist .forgot__notifications-email_not_exist,
.reset__notifications_wrap-old_pass .reset__notifications-old_pass,
.forgot__notifications_wrap-timeout .forgot__notifications-timeout,
.reset__notifications_wrap-expired .reset__notifications-expired,
.forgot__notifications_wrap-fill .forgot__notifications-fill,
.reset__notifications_wrap-fill .reset__notifications-fill,
.forgot__notifications_wrap-err .forgot__notifications-err,
.reset__notifications_wrap-err .reset__notifications-err {
    display: block;
}

.reset__spinner,
.forgot__spinner {
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    height: 120px;
}

.reset__content {
    position: relative;
}

.confirm__btn {
    display: block;

    margin-top: 20px;

    text-align: center;
}

/* // sidebar // */

.sidebar {
    position: fixed;
    z-index: 3;

    top: 0;
    right: 0;
    bottom: 0;
    width: var(--sidebar-width);

    background-color: var(--side-bg-color);
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar__close {
    right: 47px;
    top: 23px;
}

.sidebar__section {
    display: none;
    position: relative;

    min-height: 100%;
    padding: 20px 30px 60px;

    border: 20px solid var(--bg-color);
    border-bottom: none;
    border-top: none;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    background-color: var(--side-bg-color);
}

.sidebar__section-show {
    display: block;
}

.sidebar__title {
    font-size: 22px;
    font-weight: bold;
}

.footer {
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 30px;

    font-size: 90%;
    text-align: center;
}

.footer__link {
    color: var(--text-color);
    transition: color .2s;
}

/* // comments // */

.comments__wrap {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments__item {
    margin: 40px 0 0;
    padding: 0;
}

.comments__item-highlight {
    color: var(--active-color);
}

.comments__name {
    font-weight: bold;
    font-size: var(--bigger-fz);
}

.comments__rating {
    font-style: italic;
    opacity: .6;
}

.comments__text {
    margin: 10px 0 5px;

    line-height: 1.6;
    font-size: var(--normal-fz);
}

.comment__btn {
    display: inline-block;

    padding: 4px;
    margin-right: 10px;

    text-decoration: none;
    font-weight: bold;
    font-size: var(--normal-fz);
    color: var(--sug-color);
}

.comment__btn[data-disabled="true"] {
    color: var(--active-color);
}

/* // partners // */

.partners__list,
.partners__item {
    /* list-style: none; */
    margin: 0;
    padding: 0;
}

.partners__list {
    display: flex;
    margin: 20px 0 0 18px;

    align-items: flex-start;
    flex-wrap: wrap;

    list-style-type: square;
}

.setting__item {
    width: 100%;
}

/* // settings // */

.settings__list,
.setting__item {
    /* list-style: none; */
    margin: 0;
    padding: 0;
}

.settings__list {
    display: flex;
    margin: 20px 0 0 18px;

    align-items: flex-start;
    flex-wrap: wrap;

    list-style-type: square;
}

.setting__item {
    width: 100%;
}

.settings__link {
    text-decoration: none;
    font-size: var(--bigger-fz);
    line-height: 1.9;

    transition: color .3s;
}

.settings__block {
    margin-bottom: 40px;
}

.settings__on {
    display: none;
}

.settings__link-on .settings__on {
    display: inline;
}

.settings__link-on .settings__off {
    display: none;
}

/* // places // */

.places__close {
    top: 24px;
    right: 30px;
}

.places__list {
    height: 90%;
    padding-left: 0;
    list-style: none;
    overflow: auto;
}

.places__link {
    display: inline-block;

    padding: 5px 0;

    color: var(--text-color);
    transition: color, .2s;
}

.places__spinner {
    top: 50px;
}

/* // filters // */

.noUi-horizontal {
    height: 14px;
}

.noUi-horizontal .noUi-handle {
    width: 26px;
    height: 22px;
    right: -17px;
    top: -5px;
}

.noUi-handle::after, .noUi-handle::before {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    width: 1px;
    background: #E8E7E6;
    left: 10px;
    top: 4px;
}

.noUi-handle::after {
    left: 13px;
}

.connect-colored {
    background-color: var(--bg-color);
}

.fiters__subtitle {
    margin: 20px 0 5px;
}

.filter__preset {
    font-size: var(--normal-fz);
}

.filter__preset-active {
    color: var(--suc-color);
    text-decoration: underline;
}

.filters__top_block {
    margin-top: 0;
}

.filters__list,
.filters__item {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filters__list {
    margin-top: 20px;
}

.filters__item {
    margin-top: 15px;
}

.filters__label {
    font-size: var(--normal-fz);
}

.filter__slider {
    margin: 10px 0;
}

.filters__apply {
    display: block;
    margin: 20px 0 10px;

    text-align: center;
}

.filters__reset {
    display: block;

    text-align: right;
    color: var(--text-color);
    font-size: var(--normal-fz);
    transition: color .2s;
}

.filters__reset:hover {
    color: var(--active-color);
}

.filter__value_wrap {
    display: inline-block;
    font-weight: bold;
}

.filter__value {
    font-weight: bold;
}

.filters__bot {
    margin: 10px 0 -30px;
}

.filters__bot-small {
    display: none;
    font-size: 12px;
    font-style: italic;
}

/* // tooltip // */

.info {
    position: relative;
    z-index: 2;
    display: inline-block;

    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
    line-height: 0.8em;
    color: inherit;
    text-decoration: none;

    border-radius: 50%;
    padding: 0.13em 0.2em 0.09em 0.2em;
    border: 1px solid;
}

.info__tooltip {
    position: absolute;
    z-index: 1;
    pointer-events: none;

    visibility: hidden;
    opacity: 0;

    width: 240px;
    padding: 5px 10px;
    border-radius: 6px;

    background-color: var(--text-color);

    color: var(--side-bg-color);
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;

    transition: opacity .6s;
}

.info__tooltip-top {
    bottom: 150%;
    left: -124px;
}

.info__tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--text-color) transparent transparent transparent;
}

.info__tooltip-right {
    top: 0;
    transform: translateY(-47%);
    left: 125%;
}

.info__tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--text-color) transparent transparent;
}

.info__tooltip-left {
    top: 0;
    transform: translateY(-47%);
    bottom: auto;
    right: 160%;
}

.info__tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--text-color);
}

.info__tooltip-bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px;
}

.info__tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.info:hover .info__tooltip {
    visibility: visible;
    opacity: 1;
}

/* // buttons // */

.btns_wrap {
    display: flex;

    justify-content: space-evenly;
    align-items: center;
}

.btn {
    padding: 12px 22px;

    background-color: var(--active-color);

    text-decoration: none;
    color: var(--text-color-btn);
    font-size: var(--normal-fz);

    transition: background-color .3s;
}

.btn:focus {
    outline-color: var(--sug-color);
}

.btn-low {
    background: none;
    border-bottom: 1px solid var(--non-active-color);

    transition: border-color ease .5s;

    color: var(--text-color);
}

/* // spinner // */

.sidebar__spinner {
    top: 0;
    bottom: 0;
}

.rate__spinner {
    z-index: 2;

    right: 30px;
    left: 30px;
    top: 0;
    bottom: 0;
}

.rating__spinner {
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

/* // stars // */

@font-face {
    font-family: 'star__icon';
    src:  url('../fonts/star__icon.eot?87ao9s');
    src:  url('../fonts/star__icon.eot?87ao9s#iefix') format('embedded-opentype'),
    url('../fonts/star__icon.woff?87ao9s') format('woff'),
    url('../fonts/star__icon.ttf?87ao9s') format('truetype'),
    url('../fonts/star__icon.svg?87ao9s#star__icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.star-wrapper {
    display: inline-flex;

        margin: 15px 0 2px;

    flex-direction: row-reverse;
    text-align: left;
}

.star {
    padding: 0 10px 0 0;

    font-size: 34px;
    font-family: 'star__icon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--non-active-color);
    text-decoration: none;

    transition: all 0.5s;
}

.star::before {
    content: "\e900";
}

.star-wrapper a:hover,
.star-wrapper a:focus {
    transform: scale(1.3);
}

.s1:hover ~ a,
.s1:focus ~ a,
.s1:focus,
.s1:hover {
    color: #04AC29;
    color: var(--suc-color);
}

.s2:hover ~ a,
.s2:focus ~ a,
.s2:focus,
.s2:hover {
    color: #62AC04;
}

.s3:hover ~ a,
.s3:focus ~ a,
.s3:focus,
.s3:hover {
    color: #A9AC04;
}

.s4:hover ~ a,
.s4:focus ~ a,
.s4:focus,
.s4:hover {
    color: #DEC806;
}

.s5:hover ~ a,
.s5:focus ~ a,
.s5:focus,
.s5:hover {
    color: #D05A04;
}

.star-active,
.star-active ~ span,
.star-active ~ a {
    color: var(--active-color);
}

/* // notifications // */

.notification {
    position: fixed;
    display: none;
    z-index: 1;

    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;

    justify-content: center;
    align-items: center;
    white-space: nowrap;

    background-color: var(--side-bg-color);
    border: 2px solid var(--text-color);
    border-radius: 4px;

    font-size: 16px;
}

.notification-show {
    display: flex;
}

/* // duplicate for lazy load // */

.loggedInShow,
.loggedOutShow {
    display: none;
}

.loggedInShow-show,
.loggedOutShow-show {
    display: block;
}

.loggedInShow-list.loggedInShow-show,
.loggedOutShow-list.loggedOutShow-show {
    display: list-item;
}

.loggedInShow-flex.loggedInShow-show {
    display: flex;
}

/* // additional styles // */

.onboarding__content .rating__text {
    margin-bottom: 0;
}

.adress_bar {
    margin-bottom: 10px;

    text-align: center;
    font-style: italic;
    font-size: 90%;
    font-weight: bold;
}

div.rate__wrap .btn-hide {
    display: none;
}

.rate__rated_btn {
    cursor: default;
    background-color: var(--suc-color);
}

.success_notif {
    top: 20px;
    right: 20px;
    width: 50px;

    opacity: 0;

    pointer-events: none;
    transition: opacity .2s;
}

.success_notif-show {
    opacity: 1;
}

.success_notif__img {
    width: 100%;
    height: 100%;
}

.overlay__loading {
    position: absolute;
    opacity: 0;
    z-index: 2;

    left: 50%;
    top: 38px;
    transform: translate(-50%, -50%);

    font-size: 26px;
    font-style: italic;
    text-shadow: 0 0 2px #000;

    pointer-events: none;
    transition: opacity .1s;
}

.overlay__loading-show {
    opacity: 1;
    transition: opacity .3s;
}

.text_link {
    color: var(--text-color);
    transition: color .2s;
}

.text_link:hover,
.text_link:focus {
    color: var(--active-color);
}

*::selection {
    color: var(--active-color);
    background-color: var(--text-color);
}

a::selection {
    color: var(--bg-color);
}

@media (hover: hover) and (pointer: fine) {
    .rating__stars .star-wrapper:hover + .rating__caption {
        opacity: 1;
        transition: opacity .4s .5s;
    }

    .close:hover::after,
    .close:hover::before {
        background-color: var(--active-color);
    }

    .login__reverify:hover {
        color: var(--active-color);
    }

    .login__link:hover {
        color: var(--active-color);
    }

    .footer__link:hover {
        color: var(--active-color);
    }

    .settings__link:hover {
        color: var(--active-color);
    }

    .places__link:hover {
        color: var(--active-color);
    }

    .btn:hover {
        background-color: #00bb02;
        background-color: var(--suc-color);
    }

    .btn-low:hover {
        background: none;
        border-color: var(--text-color);
    }
}

@media screen and (max-height: 770px) and (min-width: 1024px) {
    .rate .star-wrapper {
        margin: 7px 0;
    }

    .rate .star {
        padding: 0 2px;
        font-size: 18px;
    }

    .rating__wrap {
        width: 400px;
        height: 410px;
        font-size: 14px;
    }

    .rating__content {
        height: 320px;
    }

    .rating__img_wrap {
        height: 150px;
    }

    .rating__img {
        width: 100%;
        height: 100%;
    }

    .star {
        font-size: 26px;
    }

    .rating__textarea {
        height: 130px;
        font-size: 12px;
    }

    .rating__title {
        margin-top: 15px;
    }

    .rate__wrap {
        width: 474px;
        height: 544px;
    }

    .rate__wrap .rating__title {
        margin-top: 2px;
    }

    .rate__highlight {
        font-size: 16px;
    }

    .login__wrap-register {
        height: 560px;
        font-size: 14px;
    }

    .register__content {
        height: 450px;
    }

    .settings__link {
        font-size: 14px;
    }

    .sidebar__title {
        font-size: 16px;
    }

    .settings__block {
        margin-bottom: 20px;
    }

    .sidebar__section {
        padding-bottom: 70px;
    }

    .settings__list {
        margin-top: 10px;
    }

    .sidebar-open {
        --sidebar-width: 370px;
    }

    .rate__caption {
        font-size: 12px;
    }

    .adress_bar {
        margin-bottom: 5px;
    }

    .btn {
        padding: 8px 10px;
        font-size: 14px;
    }

    .rate__container,
    .rate__link_btn {
        font-size: 14px;
    }

    .footer {
        font-size: 70%;
    }

    .login__wrap-onboarding {
        width: 500px;
        height: 560px;
    }

    .onboarding__content .rating__text {
        margin-top: 10px;
    }

    .form__select {
        margin-top: 10px;
        border: 2px solid var(--bg-color-inp);
        font-size: 16px;
    }

    .rate__evaluate {
        margin: 10px 30px;
    }

    body {
        --normal-fz: 16px;
        --bigger-fz: 18px;
    }

    .filters__bot {
        font-size: 12px;
    }

    .filters__label {
        font-size: 14px;
    }

    .filter__slider {
        margin: 5px 0;
    }

    .info {
        padding-top: 0.14em;
    }

    .info__tooltip {
        width: 200px;
        font-size: 12px;
    }

    .info__tooltip-top,
    .info__tooltip-right {
        bottom: 170%;
        left: -104px;
        top: auto;
        transform: none;
        right: auto;
    }

    .filters__reset {
        font-size: 14px;
    }

    .noUi-horizontal {
        height: 10px;
    }

    .noUi-horizontal .noUi-handle {
        width: 20px;
        height: 20px;
        right: -10px;
        top: -6px;
    }

    .noUi-handle::after, .noUi-handle::before {
        height: 10px;
        left: 7px;
        top: 4px;
    }

    .noUi-handle::after {
        left: 10px;
    }

    .sidebar__close {
        top: 34px;
    }

    .filters__apply {
        padding: 8px 0;
    }
}

@media screen and (max-width: 1023px) {
    .sidebar__section {
        padding: 20px 20px 90px;
    }

    .sidebar-open {
        --sidebar-width: 320px;
    }

    .info {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sidebar__section {
        padding: 20px 30px 60px;
    }

    .sidebar-open {
        --sidebar-width: 100%;
    }

    .rate .star {
        padding: 0 2px;

        font-size: 18px;
    }

    .rate .star-wrapper {
        margin: 8px 0;
    }

    .rate__popup {
        position: static;
        padding: 40px 20px;
    }

    .rate__wrap {
        width: 100%;
        height: 100%;

        border: none;
    }

    .rate__container {
        padding: 0 20px;
        flex-wrap: wrap;
    }

    .rate__container_item {
        width: 100%;
    }

    .rating__close {
        padding: 10px;
    }

    .close {
        width: 25px;
        height: 25px;
    }

    .sidebar__close {
        right: 38px;
        top: 10px;
    }

    .rate__evaluate {
        margin: 20px;
    }

    .overlay__btn {
        z-index: 2;
    }

    .rating {
        background-color: var(--side-bg-color);
        overflow: auto;
    }

    .rating__wrap {
        position: static;
        transform: none;
        height: auto;
        border: none;
        width: 100%;
    }

    .rating__item {
        margin: 10px 0;
    }

    .rating__caption {
        display: none;
    }

    .rating__text-abs {
        position: static;

        padding-bottom: 20px;
    }

    .loggedInShow-flex.loggedInShow-show {
        flex-wrap: wrap;
    }

    .rating__content {
        height: auto;
        padding-bottom: 20px;
    }

    .rating__img {
        height: 100%;
        width: auto;
    }

    .rating__img_wrap {
        display: flex;
        justify-content: center;
    }

    .rating__popup {
        left: 20px;
        right: 20px;
        top: 40px;
    }

    .rating__progr_wrap {
        bottom: 0;
    }

    .rating__status_text {
        white-space: normal;
    }

    .start__image {
        right: auto;
        left: 0;
    }

    .checkbox__container {
        padding-left: 30px;
        font-size: 16px;
    }

    .checkbox__checkmark {
        width: 20px;
        height: 20px;
    }

    .leaflet-touch .leaflet-control-geocoder-icon {
        width: 40px;
        height: 40px;
    }

    .leaflet-touch .leaflet-bar:not(.leaflet-draw-toolbar) a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .rating__item_text {
        padding-right: 5px;
    }

    .rate__caption {
        margin: 10px 0 -30px;

        font-size: 14px;
    }

    .form__error {
        font-size: 70%;
    }

    .desktop {
        display: none;
    }

    .notification {
        bottom: 16px;

        font-size: 12px;
    }
}

@media screen and (max-width: 374px) {
    body {
        --normal-fz: 14px;
        --bigger-fz: 16px;
    }

    textarea {
        font-size: 14px;
    }

    .rate__highlight {
        font-size: 20px;
    }

    .footer {
        font-size: 80%;
    }

    .sidebar__section {
        padding: 20px 20px 60px;
    }

    .sidebar__close {
        right: 28px;
    }

    .btn {
        font-size: 12px;
    }

    .checkbox__container {
        padding-left: 20px;
        font-size: 14px;
    }

    .checkbox__checkmark {
        width: 15px;
        height: 15px;
        top: 2px;
    }

    .rate__caption {
        font-size: 12px;
    }
}
