.DS_Store
node_modules
/build
/dist
/.svelte-kit
/package
TODO.md

logs/

*.crt
.env

# admin related stuff is not open-sourced
back-end/routes/admin.route.js
back-end/controllers/admin.controller.js
back-end/models/admin.model.js
src/routes/*
!src/routes/[lang]
!src/routes/__layout.svelte
!src/routes/index.svelte
