{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"printWidth": 60,
	"arrowParens": "avoid",
	"quoteProps": "consistent",
	"bracketSpacing": true,
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteBracketNewLine": true
}
