html,
body,
#svelte {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local(''),
       url('../fonts/nunito-v16-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/nunito-v16-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: local(''),
       url('../fonts/nunito-v16-latin_cyrillic-italic.woff2') format('woff2'),
       url('../fonts/nunito-v16-latin_cyrillic-italic.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local(''),
       url('../fonts/nunito-v16-latin_cyrillic-800.woff2') format('woff2'),
       url('../fonts/nunito-v16-latin_cyrillic-800.woff') format('woff');
}

@font-face {
    font-family: 'star__icon';
    src:  url('../fonts/star__icon.eot?87ao9s');
    src:  url('../fonts/star__icon.eot?87ao9s#iefix') format('embedded-opentype'),
    url('../fonts/star__icon.woff?87ao9s') format('woff'),
    url('../fonts/star__icon.ttf?87ao9s') format('truetype'),
    url('../fonts/star__icon.svg?87ao9s#star__icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

html {
    position: relative;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    /* font-family: Verdana, Arial, sans-serif; */
    font-family: "Nunito", sans-serif;

    /* main color sheme */
    --sug-color: #31493c;
    --non-active-color: #31493c54;
    --active-color: #ffa500;
    --bg-color: #d4eff5;
    --bg-color-add: #d4eff554;
    --bg-color-add-non-transparent: #f1fafc;
    --text-color: #001A23;
    --suc-color: #00CC66;
    --dark-green: #329C00;
    /* additional colors */

    --side-bg-color: #fff;
    --text-color-btn: var(--side-bg-color);

    --col1: #96ADC8;
    --col2: #42B0CF;
    /* greens */
    --col3: #00bb02;
    --col4: #00CC66;
    /* blacks */
    --col5: #222222;
    --col6: #000;
    --col7: #312838;
}

body {
    --navbar-height: 3.5rem;
    --normal-fz: 18px;
    --bigger-fz: 20px;
}

textarea {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 1366px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    body {
        --navbar-height: 0px;
    }
}
