#map {
    z-index: 1;

    height: 100%;
}

/* // leaflet // */

.geocoder-control .geocoder-control-input,
.leaflet-control-zoom {
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    box-shadow: 0 0 1px var(--text-color);
}

.leaflet-touch .leaflet-bar a {
    background-color: var(--bg-color);
}

.leaflet-touch .leaflet-draw-toolbar a,
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border-color: var(--text-color);
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-disabled {
    background-color: var(--bg-color-add-non-transparent);
}

.leaflet-touch .geocoder-control-suggestion {
    background-color: var(--bg-color-add-non-transparent);
}

.leaflet-touch .geocoder-control-suggestion:hover {
    background-color: var(--bg-color);
    border-color: var(--bg-color);
}

/* // spinner // */

.spinner__wrap {
    position: absolute;
    display: none;

    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;

    justify-content: center;
    align-items: center;

    background-color: var(--side-bg-color);
    transition: opacity .4s;
}

.spinner__wrap-fade {
    opacity: 0;
    z-index: -1;
}

.spinner__wrap-active {
    display: flex;
}

.spinner__centr {
    position: relative;

    padding: 60px;
}

.spinner {
    width: 0px;
    height: 0px;
    width: 40px;
    height: 40px;

    border: 20px solid var(--bg-color);

    animation: spinner 2s linear infinite;
}

.spinner__main {
    position: fixed;
    display: flex;
    z-index: 3;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.spinner__text {
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;

    text-align: center;
    font-style: italic;
}

.spinner__text-active {
    opacity: 1;
}

@keyframes spinner {
    0%, 100% {
        border-top-color: rgba(212, 239, 245, 1);
        border-right-color: rgba(212, 239, 245, .66);
        border-bottom-color: rgba(212, 239, 245, .33);
        border-left-color: rgba(212, 239, 245, 0);
    }
    24,9% {
        border-top-color: rgba(212, 239, 245, .61);
        border-right-color: rgba(212, 239, 245, .27);
        border-bottom-color: rgba(212, 239, 245, 0.05);
        border-left-color: rgba(212, 239, 245, 0);
    }
    25% {
        border-top-color: rgba(212, 239, 245, .66);
        border-right-color: rgba(212, 239, 245, .33);
        border-bottom-color: rgba(212, 239, 245, 0);
        border-left-color: rgba(212, 239, 245, 1);
    }
    49,9% {
        border-top-color: rgba(212, 239, 245, .27);
        border-right-color: rgba(212, 239, 245, 0.05);
        border-bottom-color: rgba(212, 239, 245, 0);
        border-left-color: rgba(212, 239, 245, .61);
    }
    50% {
        border-top-color: rgba(212, 239, 245, .33);
        border-right-color: rgba(212, 239, 245, 0);
        border-bottom-color: rgba(212, 239, 245, 1);
        border-left-color: rgba(212, 239, 245, .66);
    }
    74,9% {
        border-top-color: rgba(212, 239, 245, 0.05);
        border-right-color: rgba(212, 239, 245, 0);
        border-bottom-color: rgba(212, 239, 245, .61);
        border-left-color: rgba(212, 239, 245, .27);
    }
    75% {
        border-top-color: rgba(212, 239, 245, 0);
        border-right-color: rgba(212, 239, 245, 1);
        border-bottom-color: rgba(212, 239, 245, .66);
        border-left-color: rgba(212, 239, 245, .33);
    }
    99,9% {
        border-top-color: rgba(212, 239, 245, 0);
        border-right-color: rgba(212, 239, 245, .61);
        border-bottom-color: rgba(212, 239, 245, .27);
        border-left-color: rgba(212, 239, 245, 0.05);
    }
}

.loggedInShow,
.loggedOutShow {
    display: none;
}

.loggedInShow-show,
.loggedOutShow-show {
    display: block;
}

.loggedInShow-list.loggedInShow-show,
.loggedOutShow-list.loggedOutShow-show {
    display: list-item;
}

/* // start screen // */

.start {
    position: fixed;
    display: none;
    z-index: 4;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
}

.start__overflow {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.start__overflow::-webkit-scrollbar {
    display: none;
}

.start-anim {
    animation: startAnim 2.05s ease-in;
}

@keyframes startAnim {
    70% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.start-anim .start__landscape {
    animation: startAnim2 2s ease-in;
}

@keyframes startAnim2 {
    100% {
        transform: scale(1.05);
    }
}

.start-anim .start__road_sign {
    animation: startAnim3 2s ease-in;
}

@keyframes startAnim3 {
    100% {
        transform: scale(1.2);
    }
}

.start-show {
    display: block;

    transition: opacity .8s;
    opacity: 0;
}

.start-opacity {
    opacity: 1;
}

.start::-webkit-scrollbar {
    display: none;
}

.start__image {
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.start__building {
    transition: transform .5s .1s, filter .2s .1s;
    transform-origin: center center;
}

.start__shadow {
    transition: transform 1s .2s;
    transform-origin: center center;
}

.start__road,
.start__grass,
.start__house {
    transition: filter .3s;
}

.start__house-off .house__window {
    fill: var(--non-active-color);
}

.start__btn {
    cursor: pointer;
    transition: filter .5s;
}

.start__btn:focus {
    outline: 0;
}

.start__btn:focus rect {
    stroke: var(--active-color);
}

.start__btn:focus path {
    fill: var(--active-color);
}

.start__lang_btn {
    position: fixed;

    top: 10px;
    right: 10px;
    width: 50px;
    height: 31px;

    filter: blur(.8px);
    transition: filter .2s;
}

.start__lang_btn:focus {
    outline-color: var(--active-color);
    outline-offset: 5px;
}

.start__lang_icon {
    width: 100%;
    height: 100%;
}

.start__rus_lang {
    right: 70px;
}

.eng,
.rus {
    display: none;
}

.lang-show {
    display: inline-block;
}

.chebox__wrap {
    position: fixed;

    bottom: 10px;
    right: 10px;
}

.checkbox__container {
    position: relative;
    display: block;

    padding-left: 35px;
    margin-bottom: 12px;

    font-size: 22px;
    color: var(--side-bg-color);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.checkbox__container:focus,
.checkbox__link:focus {
    outline-color: var(--active-color);
    outline-offset: 8px;
}

.checkbox__link:focus {
    outline-offset: 2px;
}

.checkbox__link {
    color: var(--side-bg-color);
}

.checkbox__container input {
    position: absolute;

    opacity: 0;
    height: 0;
    width: 0;

    cursor: pointer;
}

.checkbox__checkmark {
    position: absolute;
    display: flex;

    justify-content: center;
    align-items: center;

    top: 2px;
    left: 0;
    height: 25px;
    width: 25px;

    background-color: var(--bg-color);
    transition: box-shadow .15s;
}

.checkbox__checkmark::after {
    position: absolute;
    content: "";

    width: 60%;
    height: 60%;

    background: var(--non-active-color);
}

input:checked ~ .checkbox__checkmark::after {
    background: var(--active-color);
}

/* // plane // */

.plane__wrap {
    position: absolute;
    display: flex;

    align-items: center;

    top: 60px;
    left: -1000px;

    cursor: pointer;

    animation: fly_plane 15s linear 1s;
}

@keyframes fly_plane {
    0% {
        transform: translateX(3000px);
    }
    18%, 72% {
        top: 70px;
    }
    20%, 40%, 60% {
        top: 80px;
    }
    30%, 50%, 70% {
        top: 60px;
    }
    100% {
        transform: none;
    }
}

.plane__text_wrap {
    padding: 10px 20px;
    margin: 0;

    color: var(--side-bg-color);
    font-size: 24px;
    font-weight: normal;
    background: linear-gradient(180deg, #1A7E3E 0%, #018F73 100%);
    /* clip-path: polygon(0% 0%, 6% 5%, 13% 0, 19% 7%, 27% 0, 34% 6%, 42% 8%, 48% 0, 55% 4%, 59% 1%, 68% 4%, 83% 1%, 93% 5%, 100% 23%, 99% 50%, 100% 78%, 93% 97%, 81% 96%, 67% 100%, 58% 95%, 50% 99%, 41% 100%, 27% 96%, 19% 100%, 13% 95%, 6% 100%, 0% 87%); */
    clip-path: polygon(0 15%, 9% 0, 19% 7%, 29% 1%, 38% 7%, 48% 1%, 59% 9%, 63% 2%, 75% 4%, 85% 1%, 100% 10%, 98% 57%, 100% 93%, 84% 94%, 76% 100%, 64% 94%, 61% 100%, 48% 94%, 38% 100%, 29% 92%, 19% 100%, 9% 94%, 0 86%, 1% 54%);
    animation: fly_plane__text 13s 5s;
}

@keyframes fly_plane__text {
    0%, 20%, 78%, 100% {
        transform: none;
    }
    25%, 45%, 65% {
        transform: translateY(3px);
    }
    35%, 55%, 75% {
        transform: translateY(-3px);
    }
}

.plane {
    transition: filter .1s;
    transform: rotateY(180deg);
}

.plane__wrap-clicked_1 .plane {
    filter: hue-rotate(192deg);
}

.plane__wrap-clicked_2 .plane {
    filter: hue-rotate(250deg);
}

.plane__wrap-clicked_3 .plane {
    filter: hue-rotate(310deg);
}

.plane__wrap-clicked_4 .plane {
    filter: grayscale(1);
}

/* // greeting man // */

.man__wrap {
    position: absolute;

    left: 70px;
    bottom: 0;
    height: 460px;
}

.man {
    width: auto;
    height: 100%;
}

.bubble {
    position: absolute;

    width: 326px;
    padding: 20px;
    left: 270px;
    bottom: 430px;

    border-radius: 20px;

    /* text-align: center; */
    color: var(--text-color);
    font-size: 24px;

    border: 4px solid var(--active-color);
    background: var(--bg-color);
}

.bubble:before {
    content: "";
    position: absolute;

    width: 0px;
    height: 0px;
    border-left: 10px solid var(--active-color);
    border-right: 10px solid transparent;
    border-top: 10px solid var(--active-color);
    border-bottom: 10px solid transparent;
    left: 20px;
    bottom: -20px;
}

.bubble__btns {
    margin-top: 10px;

    font-size: 20px;
    text-align: left;
}

.bubble__btn {
    display: block;
    padding: 1px 0;

    color: var(--text-color);
    font-style: italic;

    transition: color .2s;
}

.bubble__link {
    color: var(--text-color);
    transition: color .2s;
}

.bubble__text-small {
    font-size: 18px;
}

.bubble1,
.bubble2,
.bubble3 {
    text-align: left;
}

.bubble .bubble__text1,
.bubble .bubble__text2,
.bubble .bubble__text3 {
    display: none;
}

.bubble1 .bubble__text1 {
    display: block;
}

.bubble1 .bubble__text0 {
    display: none;
}

.bubble2 .bubble__text2 {
    display: block;
}

.bubble2 .bubble__text0 {
    display: none;
}

.bubble3 .bubble__text3 {
    display: block;
}

.bubble3 .bubble__text0 {
    display: none;
}

/* // error screen // */

.error_screen {
    position: absolute;
    display: flex;
    z-index: 4;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    justify-content: center;
    align-items: center;

    background: var(--bg-color-add);
}

.error_screen__text {
    display: block;

    width: 430px;
    padding-top: 180px;
}

.limit_error {
    display: flex;
    position: absolute;
    z-index: 5;

    top: 50px;
    left: 50%;
    width: 480px;
    height: 200px;
    transform: translateX(-50%);
    padding: 20px;
    border: 20px solid var(--bg-color);

    background: var(--bg-color-add-non-transparent);

    font-size: 18px;
    line-height: 1.4;
    font-style: italic;
}

@media (hover: hover) and (pointer: fine) {
    .leaflet-control-geocoder-alternatives li:hover {
        background-color: var(--bg-color);
    }

    .leaflet-control-zoom.leaflet-bar a:hover,
    .leaflet-touch .leaflet-draw-toolbar a:not(.leaflet-disabled):hover,
    .geocoder-control .geocoder-control-input:hover,
    .leaflet-control-zoom:hover {
        background-color: var(--bg-color-add-non-transparent);
    }

    .start__building:hover {
        filter: drop-shadow(0 0 20px green);
        transform: scale(1.02) translateY(-12px);
    }

    .start__shadow:hover {
        transform: scale(1.02) translateY(-12px);
    }

    .start__road:hover {
        filter: drop-shadow(0 0 5px var(--dark-green)) drop-shadow(0 0 5px var(--dark-green));
    }

    .start__grass:hover {
        filter: drop-shadow(0 0 5px var(--dark-green)) drop-shadow(0 0 5px var(--dark-green));
    }

    .start__house:hover {
        filter: drop-shadow(0 0 10px green);
    }

    .start__btn:hover {
        filter: drop-shadow(0 0 5px var(--dark-green)) drop-shadow(0 0 2px var(--text-color)) drop-shadow(0 0 10px var(--dark-green));
    }

    .start__lang_btn:hover {
        filter: none;
    }

    .checkbox__container:hover .checkbox__checkmark {
        box-shadow: 0 0 15px var(--dark-green);
    }

    .bubble__btn:hover {
        color: var(--active-color);
    }

    .bubble__link:hover {
        color: var(--active-color);
    }
}

@media screen and (max-height: 770px) and (min-width: 1024px) {
    .man__wrap {
        height: 320px;
    }

    .bubble {
        width: 244px;
        left: 190px;
        bottom: 300px;
        padding: 15px;

        font-size: 18px;
    }

    .bubble__btns {
        font-size: 16px;
    }

    .bubble__text-small {
        font-size: 15px;
    }
}

@media screen and (max-width: 1023px) {
    .start__lang_btn {
        filter: none;
    }

    .start__image {
        position: static;

        height: 100%;
        width: auto;
    }
}

@media screen and (max-width: 766px) {
    .man__wrap {
        height: 60vh;
        left: 38vh;
    }

    .bubble {
        left: 38vh;
        bottom: 52vh;
        padding: 15px;
        width: 272px;

        font-size: 20px;
    }

    .bubble__btns {
        font-size: 16px;
    }

    .bubble__text-small {
        font-size: 16px;
    }

    .bubble__btn {
        padding: 4px 0;
    }
}

@media screen and (min-device-width: 310px) and (max-device-width: 1023px) and (orientation: landscape) {
    .man__wrap {
        display: none;
    }

    .chebox__wrap {
        right: auto;
        left: 10px;
    }

    .plane__wrap {
        display: none;
    }
}
