.leaflet-top.leaflet-right {
	top: 50%;
	transform: translateY(-50%);
}

.geocoder-control {
	display: none;
}

.leaflet-right .leaflet-control {
	margin-right: 1rem;
}

.leaflet-bottom .leaflet-control {
	margin-bottom: 1rem;
}

.leaflet-container .leaflet-control-attribution {
	margin: 0;
}

.leaflet-container {
	z-index: 1;
}

.leaflet-touch .leaflet-bar a {
	border-bottom: none;

	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: none;
}

/*// ZOOM //*/

.leaflet-control-zoom {
	background-color: #ffffff;
	border: none;
	box-shadow: 0 0 1px var(--text-color);
	border-radius: 1.25rem;
	overflow: hidden;
}

.leaflet-touch .leaflet-control-zoom a {
	font-size: 18px;
	transition: background-color .2s, color .2s;
}

.leaflet-touch .leaflet-control-zoom a:not(.leaflet-disabled):hover {
	background-color: var(--bg-hover);
}

.leaflet-touch .leaflet-control-zoom a:not(.leaflet-disabled):active,
.leaflet-touch .leaflet-control-zoom a:not(.leaflet-disabled):focus {
	background-color: var(--bg-active);
	color: var(--main);
	outline: 0;
}

/*// DRAW //*/
.leaflet-draw-toolbar {
	margin-top: 0px;
}

.leaflet-draw-section {
	background-color: #fff;
	border-radius: 0.5rem;
	margin-top: 0.5rem;
}

.leaflet-draw-toolbar {
	border-radius: 0.5rem;
	overflow: hidden;
}

.leaflet-touch .leaflet-draw-toolbar a {
	transition: background .2s;
}

.leaflet-touch .leaflet-draw-toolbar a:hover {
	background-color: #E5EEFF;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-disabled {
	opacity: .3;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-disabled:hover {
	opacity: .3;
	background-color: #fff;
}

.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-draw-polygon {
	background-image: url('../images/icons/pen.svg');
}

.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
	background-image: url('../images/icons/rectangle.svg');
}

.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-draw-circle {
	background-image: url('../images/icons/circle.svg');
}

.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-edit-edit {
	background-image: url('../images/icons/edit.svg');
}

.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-edit-remove {
	background-image: url('../images/icons/trash.svg');
}

.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-draw-polygon:not(.leaflet-disabled):hover,
.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-draw-rectangle:not(.leaflet-disabled):hover,
.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-draw-circle:not(.leaflet-disabled):hover,
.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-edit-edit:not(.leaflet-disabled):hover,
.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-edit-remove:not(.leaflet-disabled):hover {
	background-color: var(--bg-hover);
}

.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-draw-polygon:not(.leaflet-disabled):active,
.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-draw-polygon:not(.leaflet-disabled):focus {
	background-image: url('../images/icons/pen-active.svg');
	background-color: var(--bg-active);
	outline: 0;
}

.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-draw-rectangle:not(.leaflet-disabled):active,
.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-draw-rectangle:not(.leaflet-disabled):focus {
	background-image: url('../images/icons/rectangle-active.svg');
	background-color: var(--bg-active);
	outline: 0;
}

.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-draw-circle:not(.leaflet-disabled):active,
.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-draw-circle:not(.leaflet-disabled):focus {
	background-image: url('../images/icons/circle-active.svg');
	background-color: var(--bg-active);
	outline: 0;
}

.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-edit-edit:not(.leaflet-disabled):active,
.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-edit-edit:not(.leaflet-disabled):focus {
	background-image: url('../images/icons/edit-active.svg');
	background-color: var(--bg-active);
	outline: 0;
}

.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-edit-remove:not(.leaflet-disabled):active,
.leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar .leaflet-draw-edit-remove:not(.leaflet-disabled):focus {
	background-image: url('../images/icons/trash-active.svg');
	background-color: var(--bg-active);
	outline: 0;
}

#svelte .leaflet-touch .leaflet-draw-section .leaflet-draw-toolbar a {
	background-position: center center;
	background-size: auto;
}

/*// MAP ICONS //*/

.leaflet-marker-icon {
	transition: all .2s;
}

/*// ATTRIBUTION //*/

.leaflet-control-attribution svg {
	display: none !important;
}

.leaflet-container .leaflet-control-attribution {
	background-color: #2b3440;
	color: #ffffff;
}

.leaflet-control-attribution a {
	color: var(--bg-active);
	transition: opacity .2s;
	opacity: .6;
}

.leaflet-control-attribution a:hover {
	opacity: 1;
}
