/* // leaflet // */

.leaflet-container {
    z-index: 1;
}

.geocoder-control .geocoder-control-input,
.leaflet-control-zoom {
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    box-shadow: 0 0 1px var(--text-color);
}

.leaflet-touch .leaflet-bar a {
    background-color: var(--bg-color);
}

.leaflet-touch .leaflet-draw-toolbar a,
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border-color: var(--text-color);
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-disabled {
    background-color: var(--bg-color-add-non-transparent);
}

.leaflet-touch .geocoder-control-suggestion {
    background-color: var(--bg-color-add-non-transparent);
}

.leaflet-touch .geocoder-control-suggestion:hover {
    background-color: var(--bg-color);
    border-color: var(--bg-color);
}
