.noUi-horizontal {
	height: 14px;
}

.noUi-horizontal .noUi-handle {
	width: 26px;
	height: 22px;
	right: -12px;
	top: -5px;
}

.noUi-handle::after,
.noUi-handle::before {
	content: "";
	display: block;
	position: absolute;
	height: 12px;
	width: 1px;
	background: var(--almost-invisible-gray-color);
	left: 10px;
	top: 4px;
}

.noUi-handle::after {
	left: 13px;
}

.noUi-connect {
	background-color: var(--bg-color);
}

.noUi-handle,
.noUi-target {
	border-color: var(--border-color);
}
