/* todo replace general.css with this file, probably move to app.css */

html {
	/*// colors //*/
	--bg-hover: #ECECEF;
	--bg-active: #E5EEFF;
	--main: #3877F1;
	--stroke: #F6F6F6;
	--txt-main: #212121;
}

*::selection {
	background-color: #222222;
	color: #fff;
}
