/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverable {
    @apply hover:bg-new-active hover:text-main transition-colors;
  }
}
